name: Deploy .NET Lambda to AWS

on:
  push:
    branches:
      - release
  workflow_dispatch:

env:
  LAMBDA_FUNCTION_ARN: arn:aws:lambda:us-east-1:211635102441:function:TenderDeduplicationLambda

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET 8
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0'

      - name: Install AWS Lambda Tools
        run: dotnet tool install -g Amazon.Lambda.Tools

      - name: Build and Package Lambda
        run: |
          dotnet lambda package -c Release -o ./lambda.zip TenderDeduplication.csproj

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }} 

      - name: Deploy to AWS Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION_ARN }} \
            --zip-file fileb://lambda.zip
